.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background-color: #11101d;
}

.sidebar .logo-details {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebar .logo-details a {
    min-width: 78px;
    display: inline-block;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.sidebar .logo-details img {
    display: inline-block;
    width: 30px;
}

.sidebar .logo-details .logo_name {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
}

.sidebar .nav-links {
    background-color: red;
    height: 100%;
    padding-top: 30px;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
}

.sidebar .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link_name {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
    @variants responsive {
        

        
    }
}