/* @tailwind utilities; */
@tailwind components;

@layer components {

    .content {
        @apply bg-gray-200 px-5 py-3;
    }

    .content .content-title {
        @apply text-2xl font-semibold text-gray-700;
    }

    .content .header {
        @apply flex justify-between sm:justify-evenly flex-wrap my-2
    }

    .footer {
        @apply bg-gray-700;
    }

}

.card {
    position: relative;
    width: 200px;
    height: 160px;
    border-radius: 20px;
    padding: 20px;
    margin: 10px 20px;
}

.card .card-body {
    height: 90%;
}

.card.post {
    background-color: #0099ff;
    color: white;
}

.card.comment {
    background-color: #10B981;
    color: white;
}

.card.visitor {
    background-color: #F59E0B;
}

.card.user {
    background-color: #6B7280;
    color: white;
}

.card .header-title {
    position: relative;
    font-size: 26px;
    font-weight: 600;
    top: 70px;
}

.card .card-body i.bx {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 3rem;
}

.card .card-footer {
    border-top: 1px solid #000;
}

.card.post .card-footer,
.card.comment .card-footer,
.card.user .card-footer
{
    border-top: 1px solid white;
}

.card-footer .header-readMore {
    display: flex;
    align-items: center;
}

.card-footer .header-readMore > i.bx {
    font-size: 20px;
    transition: all .3s ease;
}

.card-footer .header-readMore:hover > i.bx {
    transform: translateX(20%);
}

/* .footer {
    height: 40px;
} */