.btn {
    padding: 8px 12px;
    border-radius: 8px;
}

.btn-sm {
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
}

.btn-primary {
    background-color: #0099ff;
    color: white;
}

.btn-success {
    background-color: #10B981;
    color: white;
}

.btn-secondary {
    background-color: #9CA3AF;
    color: #F9FAFB;
    transition: all .3s ease;
}

.btn-bookmark {
    background-color: #F59E0B;
    color: white;
}

.btn-danger {
    background-color: #DC2626;
    color: white;
}

.btn-secondary:hover {
    background-color: #6B7280
}

.btn-sm .tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: #4B5563;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
}

.headline-tip {
    margin-left: -55px;
}

.edit-tip {
    margin-left: -42px;
}

.delete-tip {
    margin-left: -52px;
}

.btn-sm .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #4B5563 transparent transparent transparent;
}
  
.btn-sm:hover .tooltiptext {
    visibility: visible;
}

/* @tailwind utilities; */
@tailwind components;

@layer components {

    .content {
        @apply bg-gray-200 px-5 pt-5 overflow-x-hidden pb-8;
    }

    .content .content-title {
        @apply text-3xl font-semibold text-gray-700;
    }

    .content .header {
        @apply flex justify-evenly sm:justify-evenly flex-wrap my-2
    }

    /* Full Container */
    .container {
        @apply w-full my-4 p-5 rounded-lg bg-gray-100 shadow-md;
    }
    
    /* Form */
    .form-wrapper {
        @apply lg:flex mb-4;
    }

    .label-wrapper {
        @apply w-full lg:w-3/12 flex items-center;
    }

    .label-form {
        @apply text-lg text-gray-600 font-medium;
    }

    .input-wrapper {
        @apply w-full lg:w-9/12 flex items-center;
    }

    .form-control {
        @apply w-full rounded-md border border-gray-400 focus:ring focus:outline-none focus:ring-offset-0 focus:ring-primary/70 transition duration-200 p-1 px-2;
    }

    .form-control[readonly],
    .form-control[disabled] {
        @apply cursor-not-allowed;
    }

    .button-wrapper {
        @apply flex justify-end;
    }

    /* Form Orangtua */
    .ayah-title, .ibu-title {
        @apply text-gray-600 text-2xl font-semibold mb-4
    }

    .ibu-title {
        @apply mt-8;
    }

    /* Datatable */
    .table-biodata {
        @apply table-auto text-center border-collapse border-gray-700 rounded-sm;
    }

    .table-biodata thead tr {
        @apply bg-gray-700 text-white;
    }

    .table-biodata tbody tr {
        @apply cursor-pointer;
    }

    .table-biodata.dataTable.stripe tbody tr.even,
    .table-biodata.dataTable.stripe tbody tr.odd {
        @apply active:bg-orange-300;
    }

    .table-biodata.dataTable.hover tbody tr.even:hover,
    .table-biodata.dataTable.hover tbody tr.odd:hover {
        @apply bg-blue-200;
    }

    .table-biodata.dataTable.stripe tbody tr.even {
        @apply bg-gray-300
    }

    .table-biodata.dataTable tbody tr.even.selected,
    .table-biodata.dataTable.stripe tbody tr.odd.selected {
        @apply bg-orange-200 !important;
    }

    .table-biodata td, .table-biodata th {
        @apply border-gray-600 px-2 py-1;
    }

    .table-biodata .nama {
        @apply text-left;
    }

    /* Half Container */
    .content .first-container,
    .content .second-container {
        @apply w-full rounded-xl xl:flex justify-between;
    }

    .first-container .stat-card,
    .second-container .stat-card {
        @apply w-full bg-white p-4 rounded-xl xl:w-1/2;
    }

    .first-container .stat-card.popular-post-wrapper {
        @apply xl:mr-3 block;
    }

    .popular-post-title,
    .visitor-chart-header,
    .comment-preview-title {
        @apply mb-4 text-2xl font-bold text-primary;
    }

    .first-container .stat-card.visitor-chart {
        @apply xl:ml-3 mt-4 xl:mt-0 block;
    }

    .popular-post-card {
        @apply flex my-3;
    }

    .card-img {
        @apply mr-4;
    }

    .post-title {
        @apply text-lg font-semibold text-gray-800;
    }

    .popular-post-sub {
        @apply text-sm text-gray-600;
    }

    .visitor-chart-body {
        @apply relative w-full;
    }

    .second-container .stat-card {
        @apply mt-5;
    }

    .second-container .stat-card.comment-preview {
        @apply mr-3;
    }

    .second-container .stat-card:nth-child(2) {
        @apply xl:ml-3;
    }

    .stat-card.comment-preview .comment-view-card {
        @apply flex;
    }

    .comment-view-card .comment-img {
        @apply rounded-full;
    }

    .post-comment {
        @apply text-sm text-gray-600 inline;
    }

    .first-container .single-card {
        @apply bg-white w-full rounded-lg p-5 mt-5;
    }

    .first-container .single-card .link-post {
        @apply text-green-500;
    }

    .first-container .single-card .add-new-post {
        @apply hover:bg-primary-dark transition duration-300;
    }

    .footer {
        @apply bg-gray-700;
    }

}

.navbar.fixed ~ .content {
    padding-top: 75px;
}

.card {
    position: relative;
    max-width: 215px;
    width: 100%;
    height: 160px;
    border-radius: 20px;
    padding: 20px;
    margin: 10px 18px;
}

.card .card-body {
    height: 90%;
}

.card.post {
    background-color: #0099ff;
    color: white;
}

.card.comment {
    background-color: #10B981;
    color: white;
}

.card.visitor {
    background-color: #F59E0B;
}

.card.user {
    background-color: #6B7280;
    color: white;
}

.card .count-number {
    position: absolute;
    top: 10px;
    font-size: 42px;
    height: max-content;
    padding: 0;
    font-weight: 600;
}

.card .header-title {
    position: relative;
    font-size: 26px;
    font-weight: 600;
    top: 70px;
}

.card .card-body i.bx {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 3rem;
}

.card .card-footer {
    border-top: 1px solid #000;
}

.card.post .card-footer,
.card.comment .card-footer,
.card.user .card-footer
{
    border-top: 1px solid white;
}

.card-footer .header-readMore {
    display: flex;
    align-items: center;
}

.card-footer .header-readMore > i.bx {
    font-size: 20px;
    transition: all .3s ease;
}

.card-footer .header-readMore:hover > i.bx {
    transform: translateX(20%);
}

.popular-post-img {
    min-width: 90px;
    max-width: 120px;
    border-radius: 5px;
}

.popular-post-body .popular-post-card.slick-slide {
    display: flex !important;
}

.total-visitor {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #6B7280;
}

canvas#visitor-chart {
    width: 100%;
    height: 40vh !important;
    margin: 10px 0 10px 0;
}

.comment-view-card {
    padding-top: .7rem;
    padding-bottom: .7rem;
    padding-left: 5px;
    padding-right: 12px;
}

.comment-view-card .comment-img {
    min-width: 44px;
    max-width: 44px;
    margin-right: 16px;
}

.post-comment {
    font-weight: 500;
}

i.bx-undo {
    transform: rotate(180deg)
                scaleX(-1)
                translateY(-50%);
    font-size: 1.1rem;
}

.comment-user {
    color: #374151;
    font-weight: 600;
}

.comment-card-body .bxs-calendar,
.comment-card-body .date-comment {
    font-size: .8rem;
    color: #6B7280;
    font-weight: 500;
}

.comment-text {
    text-align: justify;
    word-wrap: break-word;
    word-spacing: normal;
}

hr.comment-break {
    border-top: 2px solid #4B556380;
    margin-bottom: 8px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 2px;
}

.single-card-body {
    margin-top: 25px;
}

.list-posts td {
    text-align: center;
}

.list-posts tbody td:nth-child(3) {
    text-align: left;
}

.list-posts tbody td .post-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.list-posts tbody td .link-post,
.list-posts tbody td button {
    font-size: .9rem;
}

.action-btn-post {
    display: flex;
    flex-wrap: nowrap;
}

.list-posts tbody td:nth-child(3) .action-btn-post {
    margin-top: 10px;
}

.list-posts tbody td:nth-child(3) .action-btn-post .btn-sm:last-child .bxs-star {
    color: #FBBF24;
}

.action-btn-post .btn-sm:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;

}

.action-btn-post .btn-sm:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.action-btn-wrapper .btn-sm:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.action-btn-wrapper .btn-sm:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.footer {
    height: 56px;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer .bxs-heart {
    color: red;
}

/* Datatable Properties */

.dataTables_wrapper .dataTables_length select {
    border-radius: 10px !important;
    transition: .3s;
    padding: 5px 2px !important;
    margin-bottom: 10px;
    text-align: center;
}

.dataTables_wrapper .dataTables_filter input {
    border-radius: 10px !important;
    transition: .3s;
    padding: 5px 11px !important;
    margin-bottom: 10px;
}

.dataTables_wrapper .dataTables_filter input:focus, .dataTables_wrapper .dataTables_length select:focus {
    outline-offset: 0;
    outline-color: #0099ff;
}

/* Table Number Increment */
table {
    counter-reset: section;
}

.number::before {
    counter-increment: section;
    content:counter(section);
}

/* Pagination */
.dataTables_wrapper .dataTables_paginate .paginate_button {
    border-radius: 5px;
    background-color: #D1D5DB;
    border: none;
    transition: all .2s;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.dataTables_wrapper .dataTables_paginate .paginate_button.next {
    display: inline-flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
    top: 6px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button i {
    font-size: 25px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: #0099ff;
    border: none;
    color: white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    border: none;
    background: #4B5563;
    color: white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
    border: none;
    background: #4B5563;
    color: white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #9CA3AF;
    border: none;
    color: white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #0099ff;
    border: none;
    color: white !important;
}

/* Display Size Modifier */
@media (max-width: 767px) {
    .popular-post-body .popular-post-card.slick-slide {
        display: block !important;
    }

    .popular-post-img {
        min-width: 90px;
        max-width: 235px;
        border-radius: 5px;
    }

    .footer {
        height: max-content;
        justify-content: center;
    }

    .footer span {
        text-align: center;
        font-size: .6rem;
    }
}

@media (max-width: 1024px) {
    .footer {
        height: max-content;
        justify-content: center;
    }

    .footer span {
        text-align: center;
    }
}